/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 41px;
}

/* LOGO */
.logo {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

/* NAV */
.navDiv {
  display: flex;
  gap: 24px;
}

.navDiv a {
  text-decoration: none;
}

.navDiv button {
  background: transparent;
  border: none;
  color: #cfd8dc;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.navDiv button:hover {
  color: white;
}

.navDiv button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: -6px;
  transition: width 0.3s ease;
}

.navDiv button:hover::after {
  width: 100%;
}

/* BODY BACKGROUND */
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1503264116251-35a269479413");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Mobile Styles */
@media (max-width: 768px) {
  .header {
    padding: 16px 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
  }

  .line {
    width: 24px;
    height: 3px;
    background: white;
    transition: 0.3s;
  }

  .navDiv {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    background: #070724;
    flex-direction: column;
    padding: 24px;
    transition: 0.4s;
    z-index: 100;
  }

  .navDiv.active {
    left: 0;
  }

  .nav-item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 25px;
  }

  .arrow {
    margin-left: auto;
    color: gray;
    font-size: 24px;
  }
}
